@page "/project"

@using ServicePortal.Components.Project

<h3>Project</h3>

<ProjectList />

@projectName

@code {
    // @*@using ServicePortal.Components.Project*@
    string projectName = "Project Name";
}
